[submodule "content/machine_learning_for_climate_and_energy"]
	path = content/machine_learning_for_climate_and_energy
	url = https://gitlab.in2p3.fr/energy4climate/public/education/machine_learning_for_climate_and_energy.git
